@model Haber.Model.Haberler

    <h4>Haberler</h4>
    
  <article style="width:700px; height:300px;">
      
      @{ 
          string yukari = "";
          string asagi = "";
          if (Model.HaberDetay.Length > 400)
          {
              yukari = Model.HaberDetay.Substring(0, 400);
              asagi = Model.HaberDetay.Substring(400);
          }
          if (Model.HaberDetay.Length <= 400)
          {
              yukari = Model.HaberDetay;
          }
      }
      <div class="container" style="background-color:#eaf2f7;border:1px solid grey; border-color:white">
          <div class="row">
              <h3 style="color:red;">@Model.HaberBaslik</h3>
              <hr />
              <div class="col-md-12">
                  @yukari
              </div>
              <br />
              <div class="col-md-12">
                  <img src="~/CmsFiles/@Model.HaberPhoto" style="width:630px;height:300px; " />
              </div>
              <br />
              <div class="col-md-12">
                  @(asagi ?? "")
              </div>
          </div>
      </div>


  </article>
<style>
    article{
        width:600px;
        height:300px;
        padding:20px;
        position:relative;
        margin:auto;
        
    }
</style>